<section>
    <div class="bottom">
        <?php
            echo $this->element('frontend/sidebar_left_gallery');    
        ?>
        <!--right-->
        <div class="right">
            <!--tin tuc-->
            <div class="tintuc_blog">
                <?php if(isset($about) && count($about)>0):?>
                    <div class="green_title"><?php echo $about['Post']['title']?></div><br>
                    <?php echo $about['Post']['content']?>
                <?php endif;?>

            </div>
            <!--tin tuc-->
        </div>
    <!--right-->
    <div class="cl"></div>
    </div>
</section>
