<?php
// Lấy thông tin từ Controller
    $total = $tong_so_truy_cap['Count']['total'] + 120000;
    //debug($yesTotal);die;
    if(isset($yesTotal) && count($yesTotal)>0){
        $yesTotal = $yesTotal['Count']['count'];
    }else {
        $yesTotal = 0;
    }
    $array  = array_map('intval', str_split($total));
    echo '<div class="counter">';
    foreach ($array as $item){
        echo '<span>'.$item.'</span>';
    }
    echo '</div>';
    echo '<p>Đang truy cập: ' .$soluong. '</p>';
    echo '<p>Ngày hôm qua: ' .$yesTotal.'</p>';
?>

<!-- Start counter code -->

<!--<a href="http://maniccompressionsyndrome.com/" target="blank" >
<img alt="Website counter" hspace="0" vspace="0" border="0" src="http://redhotcounters.com/7458129-823AC349B1B44726A673763D0CA7DB96/counter.img?theme=1&digits=7&siteId=8"/>
</a>
<noscript><br/><a href="http://maniccompressionsyndrome.com/">maniccompressionsyndrome.com</a><br>The following text will not be seen after you upload your website, please keep it in order to retain your counter functionality <br> <a href="http://usacreditreporting.com/" target="_blank">usa credit reporting</a></noscript>-->

<!-- End counter code -->