<footer>
    <?php echo $this->Html->image("frontend/bg_footer.png")?>
    <?php //echo $this->Html->image(Configure::read('settings.imageDir').'960/'.$banner['Gallery']['image'], array('style'=>'width: 960px; height: 134px'))?>
    <p align="center">
            Bể cá Thái Hà - Copyright © 2013. Web: becathaiha.vn | becathaiha.com - All Rights Reserved. Phát triển bởi <a href="http://hiworld.com.vn/home/" style="color: #c2c2c2">Hiworld</a><br>

Showrooms: 718 Đường Láng - Hà Nội  | 337 Trương Định - Hà Nội. Điện thoại: 0915.386.452 . Email: becathaiha@yahoo.com
    </p>
</footer>
