<!-- header start-->
<div class="header">
    <div class="banner">
        <!--<embed src="<?php echo $this->Html->url('../img/frontend/banner.swf')?>" width="960" height="369" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" menu="false" wmode="transparent"></embed>-->
        <embed height="369" width="960" type="application/x-shockwave-flash" allowscriptaccess="always" wmode="transparent" allowfullscreen="false" scale="exactfit" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" quality="high" src="<?php echo $this->Html->url('../img/frontend/banner.swf')?>" title=" "/>
            <?php //echo $this->Html->image(Configure::read('settings.imageDir').'960/'.$banner['Gallery']['image'])?>
    </div>
    <nav>
    <?php //debug($topMenuMember);die;?>
        <ul>
			<?php
				if(isset($topMenuMember) && count($topMenuMember)>0){
					foreach($topMenuMember as $topMenu){
						$class = '';
						if($code == $topMenu['MainMenu']['Menu']['code']){
							$class = 'current1';
						}
						echo '<li class="'.$class.'">'.$this->Html->link($topMenu['MainMenu']['Menu']['name'], array('controller'=>$topMenu['MainMenu']['Menu']['controller'], 'action'=>$topMenu['MainMenu']['Menu']['action'])).'</li>';
					}
				}
			?>
            <!-- <li class="active"><a class="first_menu" href="#">Trang chủ</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Sản phẩm</a></li>
            <li><a href="#">Dịch vụ</a></li>
            <li><a href="#">Kiến thức bể cá</a></li>
            <li><a href="#">Tin tức</a></li>
            <li><a href="#">Liên hệ</a></li> -->
        </ul>
    </nav>
    <div class="cl"></div>
</div>
<!-- header end-->
