<!--left-->
    <div class="left">
    <!--online-->
    <div class="blog_left online">
        <h1><?php echo $this->Html->image("frontend/dt.png")?></h1>
        <div style="padding:20px;">
        <table width="100%">
            <?php
            //debug($supports);die;
                foreach ($supports as $item){
                    $type = $item['Support']['type'];
                    switch($type){
                        case 1:
                            echo '<tr>';
                                echo '<td width="40%">'.$item['Support']['name'].'</td>';
                                echo '<td><a href="Skype:'.$item['Support']['nick_name'].'?chat">'.$this->Html->image("frontend/skype_online.png", array('title'=>'Trợ giúp trực tuyến qua Skyper', 'height'=>30, 'width'=>120)).'</a></td>';
                            echo '</tr>';
                            break;
                        case 2:
                            echo '<tr>';
                                echo '<td width="40%">'.$item['Support']['name'].'</td>';
                                echo '<td>';
                                    echo '<a href="ymsgr:sendim?'.$item['Support']['nick_name'].'">
                                        <img src="http://opi.yahoo.com/online?u='.$item['Support']['nick_name'].'&m=g&t=2" alt="" border="0"/>
                                    </a>';
                                echo '</td>';
                            echo '</tr>';
                            break;
                    }
                }    
            ?>
        </table>
        </div>
    </div>
    <!--online-->

    <!--facebook-->
    <div class="blog_left facebook">
        <h1><?php echo $this->Html->image("frontend/fb.png")?></h1>
        <div class="fb-like-box" data-href="<?php echo $fanpage['FanPage']['url']?>" data-width="228" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
    </div>
    <!--facebook-->

    <!--truy cap-->
    <div class="blog_left truycap">
        <h1>Lượt người truy cập</h1>
        <?php echo $this->element('frontend/counter_online')?>
    </div>
    <!--truy cap-->
</div>
<!--left-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
