@charset "utf-8";
/* CSS Document */

body 
{
	background:url(../../img/frontend/bg.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4a4946;}
a { text-decoration: none; color:#1a7402;}
a:hover{ text-decoration:underline;}

.banner-left{
    background: url(../../img/frontend/banner-left.png);
    width: 124px;
    height: 371px;
    margin-left: 30px;
    margin-top: 30px;
    position: fixed;
    top: 0;
    left: 0;
}
.banner-right{
    background: url(../../img/frontend/banner-right.png);
    position: fixed;
    margin-top: 30px;
    width: 132px;
    height: 366px;
    margin-right: 31px;
    top: 0;
    right: 0;
}
.wrapper 
{
	margin: 0 auto;
	width: 960px;
}



nav{ margin-left:11px; margin-top:-2px;}
nav ul li{background:url(../../img/frontend/nav_bg.png) no-repeat;float:left; width:146px; padding-top:12PX; height:26px; margin-left:-11px;text-align:center;}
nav ul li:hover{background:url(../../img/frontend/nav_hover_bg.png) no-repeat;float:left; width:146px; margin-left:-11px; text-align:center;}
nav ul li a{ color:#0c330a; font-weight:bold; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);}
nav ul li a:hover{ color:#0c330a; font-weight:bold; text-decoration:none;}
nav ul li:first-child{background:url(../../img/frontend/nav_bg_first.png) right top no-repeat;}
nav ul li:first-child:hover{background:url(../../img/frontend/nav_hover_bg_first.png) right top no-repeat;}
nav ul li:last-child{background:url(../../img/frontend/nav_bg_end.png) right top no-repeat; padding-left:4px;}
nav ul li:last-child:hover{background:url(../../img/frontend/nav_hover_bg_end.png) right top no-repeat; padding-left:4px;}

.orange_text{ color:#fa7703;}

section{ background:#FFF; padding:10px; line-height:16px;}
.blog_greenbg{ background:#e2f9de; padding:10px; margin-bottom:10px;}
.productlist{ width:218px; margin-bottom:20px; float:left; margin-right:15px;}
.productlist img{ max-width:218px;}
.productlist:nth-child(4n) {margin-right: 0}
.productlist:nth-child(4n+1) {clear: left}
.productlist h3{ color:#429a02; padding:5px 0;}
.button1{ background:url(../../img/frontend/button1.png); color:#01441c; border:none; font-size:10px; padding:5px; cursor:pointer;}
.button1:hover{ background:url(../../img/frontend/button1_hover.png);  border:none; }
.button2 { background:url(../../img/frontend/button2.png); color:#fff; border:none; font-size:10px; padding:5px 10px; cursor:pointer;
font-weight:bold;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}

.button_gia{ background:url(../../img/frontend/button1.png); color:#dc2102; font-weight:bold; border:none; font-size:10px; padding:5px; cursor:pointer;}
.button_gia:hover{ background:url(../img/frontend/button1_hover.png);  border:none; }

.blog_border{ background:#e2f9de; border:1px solid #8dce78; padding:1px;}
.blog_border h1{ background:url(../../img/frontend/bg_blog.png) repeat-x; color:#FFF; padding:5px; font-size:14px;}
.blog_greenbg h1{background:url(../../img/frontend/bg_blog.png) repeat-x; color:#FFF; padding:5px; font-size:14px;}
.bottom{ margin-top:10px;}

.left{ width:230px; float:left; margin-right:10px;}
.blog_left{border:1px solid #c7decf; margin-bottom:10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; }
.online h1{ background:url(../../img/frontend/bg_online.png); -webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;}
.online td{ vertical-align:middle; font-weight:bold; padding:2px;}

.facebook h1{ background:url(../../img/frontend/bg_facebook.png); -webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;}
.facebook h3 a{ color:#065101; font-size:14px; font-weight:bold;}
.facebook .avatar_main{width:63px; height:63px;padding:3px; margin-right:10px; border:1px solid #c7decf; float:left;}
.facebook .avatar_list img{ width:48px; height:47px; float:left; margin:0 5px 5px 0;}
.line_orange_1{ border-bottom:2px solid #fa7703; height:10px; margin-bottom:10px;}
.line_green{ border-bottom:2px solid #c7decf; height:10px; margin-bottom:10px;}
.line_orange{border-bottom:1px solid #dcbe46; height:10px; margin-bottom:20px;
box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 1.0);
}

.truycap{ background:#579902; padding:10px; color:#FFF; 
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}
.truycap h1{ font-size:16px; font-weight:bold;}

.right{ float:left; width:700px;}

.gallery_blog{ background:url(../../img/frontend/gallery_bg.png) no-repeat; padding:10px; margin-bottom:10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.gallery_blog td{ vertical-align:middle;}
.gallery_list{ background:#FFF; padding:10px 0 0 10px;}
.gallery_thumnails{ width:113px; padding:0 7px 5px 0;}
//.gallery_thumnails a:nth-child(3n) img{padding-right: 0px}

.tintuc_blog{ 
display: table;
width: 100%;
box-sizing: border-box;
border:1px solid #c7decf; padding:10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; }
.tintuc_blog .image{
	float: left;
}
.tintuc_blog td{ vertical-align:middle;}

.list_tintuc{ float:left; width:219px; margin-right:10px;}
.list_tintuc:nth-child(3n){margin-right: 0px}
.list_tintuc img{ margin-right:5px; float:left;}

.back-to-top {
			position: fixed;
			bottom: 2em;
			right: 0px;
			text-decoration: none;
			color: #000000;
			display: none;
		}

.sub_menu{ background:#f9f4cb; margin-bottom:10px; border:1px solid #c99c2c; padding:20px 20px 0 20px;font-weight:bold;
-moz-box-shadow: 1px 1px 1px #c1c1c0;
-webkit-box-shadow: 1px 1px 1px #c1c1c0;
box-shadow: 1px 1px 1px #c1c1c0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}

.sub_menu li{ float:left; background:url(../../img/frontend/icon_first.png) no-repeat; padding-left:40px; margin:0 30px 20px 0;}
.sub_menu li a{}

.icon_new{ top: 2; left:0; position:absolute; }
	
.fix_relative{ position:relative;}

.paging span{ border:1px solid #8dce78; font-weight: bold; padding:3px 7px;}
.green_text_upper{ text-transform:uppercase; color:#055d08; font-size:16px; line-height:20px; font-weight:bold;}

.img_large{ max-width:400px; margin:0 15px 5px 0; padding:3px; border: 1px solid #8dce78;}
.img_small{ max-width:93px; margin:0 5px 5px 0; border: 1px solid #8dce78;}

.green_title{ color:#055d08; font-weight:bold; margin-bottom:10px; font-size: 15px; text-transform: uppercase;}

.gallery_left{ background:#8dce78; padding:10px;}

.gallery_thumnails_small{ max-width:100px; padding:0 8px 5px 0;}
.gallery_left a:nth-child(2n) img{padding-right: 0px}

.list_tintuc2{ border-bottom:1px solid #c7decf; margin-bottom:10px;}
.list_tintuc2 img{ margin:0 0 10px 10px;}
.thumbnails_tintuc{ max-width:200px;}

#gallery_01 {margin-right: 20px;}
.recent{ padding:10px;}
.recent p{ padding-bottom:10px;}
.recent li{ background:url(../../images/icon_list.png) no-repeat 5px; padding-left:25px;}

.list_blog_gallery{ width:219px; float:left; margin:0 10px 10px 0;}
.list_blog_gallery img{ width:100%; line-height:12px;}
.list_blog_gallery p{ background:#93d270; padding:8px 5px; color:#043f02; margin-top:-4px; font-weight:bold;}
.list_blog_gallery:nth-child(3n){margin-right: 0px;}
.list_video:nth-child(3n){margin-right: 10px;}
.list_video:nth-child(3n+1){margin-right: 0px}

.lienhe {}
.lienhe h1{ color:#036001; font-size:24px; font-weight:bold; text-align:center; padding:30px;
	}
.lienhe p{ color:#036001; padding:0 0 30px 100px;}

.lienhe table{ width:60%; margin-left:100px;}
.lienhe table td{ padding:5px;}
.lienhe table th{ width:30%;color:#036001; text-align:right; padding-right:10px;}


footer{ color:#FFF; margin-bottom:20px; line-height:16px;}
footer img{ margin-bottom:10px;}

.sub_menu a.current {color: #dc2102}
nav li.current1{background:url(../../img/frontend/nav_hover_bg.png) no-repeat;float:left; width:146px; margin-left:-11px; text-align:center;}
//nav li.current1:first-child{background: none}
nav li.current1:first-child{background: url(../../img/frontend/nav_hover_bg_first.png) right top no-repeat}
nav li.current1:last-child{background:url(../../img/frontend/nav_hover_bg_end.png) right top no-repeat; padding-left:4px;}

.counter{background:#000; margin:15px 6px; padding:5px 3px;display: inline-block;clear: both;}
.counter span{ background:url(../../img/frontend/bg_counter.png) repeat-x; margin-right:2px; padding:2px 7px; font-size:14px; font-weight:bold; color:#000;}
.counter span:last-child{margin-right: 0px;}

.Price_detail{ margin-bottom:20px;}
.Price_detail span{ border:1px solid #c2c2c2; color:#055d08; padding:10px 20px; font-weight:bold; margin-right:10px;  }
.Price_detail label{ padding:0 10px 0 0; font-size:16px;vertical-align:top;line-height:30px; font-weight: bold; color: red; }

.error-message {color: red}