<table width="100%" height = "500px">
    <tr>
        <td align="center">
            <?php echo $form->create('Page',array('action'=>'gate')) ?>
            <?php echo $html->image('system/lock.png'); ?>
            <?php echo $form->input('key',array('type'=>'password','label'=>false,'div'=>false)); ?>
            <input type="submit" value="<?php __("Open") ?>" class="btn" />
            </form>
        </td>
    </tr>
</table