<div id="container">
    <div class="shell">
        
        <!-- Small Nav -->
        <div class="small-nav">
            <b><?php __("Homepage") ?></b>
        </div>
        <!-- End Small Nav -->
        
        <?php echo $this->Session->flash(); ?>
    
        <!-- Main -->
        <div id="main">
            <div class="cl">&nbsp;</div>
            
            <!-- Content -->
            <div id="content">
                
                <!-- Box -->
                <div class="box">
                    <!-- Box Head -->
                    <div class="box-head">
                        <h2 class="left">Introduction</h2>
                        <div class="right">
                        </div>
                    </div>
                    <!-- End Box Head -->    

                    <!-- Table -->
<!--                    <div class="table">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th width="13"><input type="checkbox" class="checkbox" /></th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Added by</th>
                                <th width="110" class="ac">Content Control</th>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="checkbox" /></td>
                                <td><h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3></td>
                                <td>12.05.09</td>
                                <td><a href="#">Administrator</a></td>
                                <td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
                            </tr>
                            <tr class="odd">
                                <td><input type="checkbox" class="checkbox" /></td>
                                <td><h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3></td>
                                <td>12.05.09</td>
                                <td><a href="#">Administrator</a></td>
                                <td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="checkbox" /></td>
                                <td><h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3></td>
                                <td>12.05.09</td>
                                <td><a href="#">Administrator</a></td>
                                <td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
                            </tr>
                            <tr class="odd">
                                <td><input type="checkbox" class="checkbox" /></td>
                                <td><h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3></td>
                                <td>12.05.09</td>
                                <td><a href="#">Administrator</a></td>
                                <td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="checkbox" /></td>
                                <td><h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3></td>
                                <td>12.05.09</td>
                                <td><a href="#">Administrator</a></td>
                                <td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
                            </tr>
                            <tr class="odd">
                                <td><input type="checkbox" class="checkbox" /></td>
                                <td><h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3></td>
                                <td>12.05.09</td>
                                <td><a href="#">Administrator</a></td>
                                <td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="checkbox" /></td>
                                <td><h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3></td>
                                <td>12.05.09</td>
                                <td><a href="#">Administrator</a></td>
                                <td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
                            </tr>
                            <tr class="odd">
                                <td><input type="checkbox" class="checkbox" /></td>
                                <td><h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3></td>
                                <td>12.05.09</td>
                                <td><a href="#">Administrator</a></td>
                                <td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
                            </tr>
                        </table>
                        <div class="pagging">
                            <div class="left">Showing 1-12 of 44</div>
                            <div class="right">
                                <a href="#">Previous</a>
                                <a href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">245</a>
                                <span>...</span>
                                <a href="#">Next</a>
                                <a href="#">View all</a>
                            </div>
                        </div>
                        
                    </div>-->
                    <!-- Table -->
                    <div style = "padding:10px">
                        System is tool to controll & manage the application backend. It can be removed after release ...
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                    
                </div>
                <!-- End Box -->
            </div>
            <!-- End Content -->
            
            <?php echo $this->element('default/home') ?>
            
            <div class="cl">&nbsp;</div>            
        </div>
        <!-- Main -->
    </div>
</div>