<!-- Footer -->
<div id="footer">
    <div class="shell">
        <span class="left">dCore - Version 1.0 - 7/2011 - Power by DuyNB</span>
        <span class="right">
            Design by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">                         Chocotemplates.com</a>
        </span>
    </div>
</div>
<!-- End Footer -->