<!-- Sidebar -->
<div id="sidebar">
    
    <!-- Box -->
    <div class="box">
        
        <!-- Box Head -->
        <div class="box-head">
            <h2>About</h2>
        </div>
        <!-- End Box Head-->
        
        <div class="box-content">
            <b>Version</b>: 1.0<br>
            <b>Created</b>: 7-2011<br>
            <b>By</b>: DuyNB<br>
            <div class="cl">&nbsp;</div>
        </div>
    </div>
    <!-- End Box -->
</div>
<!-- End Sidebar -->