<!-- Sidebar -->
<div id="sidebar">
    
    <!-- Box -->
    <div class="box">
        
        <!-- Box Head -->
        <div class="box-head">
            <h2>Management</h2>
        </div>
        <!-- End Box Head-->
        
        <div class="box-content">
            <a href="#" class="add-button"><span>Add new Article</span></a>
            <div class="cl">&nbsp;</div>
            
            <p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
            <p><a href="#">Delete Selected</a></p>
            
            <!-- Sort -->
            <div class="sort">
                <label>Sort by</label>
                <select class="field">
                    <option value="">Title</option>
                </select>
                <select class="field">
                    <option value="">Date</option>
                </select>
                <select class="field">
                    <option value="">Author</option>
                </select>
            </div>
            <!-- End Sort -->
            
        </div>
    </div>
    <!-- End Box -->
</div>
<!-- End Sidebar -->