<div class="breadscrumb">
    <span><?php echo __('System') ?></span>
    <?php echo $this->Html->image('admin/brk_center.png') ?>
    <span><?php echo $this->Html->link(__('Galleries',true),array('action'=>'index')); ?></span> >     
    <span><?php 
		if(!$id)
			echo __('GalleryAdd');
		else	
			echo __('GalleryEdit');
	?></span>
</div>

<div id="center">
    
    <div id="right">
    <?php echo $this->Session->flash(); ?>
            
    
    <?php echo $this->Form->create('Gallery',array('enctype'=>'multipart/form-data')); ?>
        <table width="100%" class="tblForm">
            <tr>
                <th width="30%"><?php echo __('Image') ?><?php echo __('(*)') ?></th>
                <td width="70%"><?php 
                if(isset($this->request->data['Gallery']['id'])){
                    echo $this->Html->image(Configure::read('settings.imageDir').'50/'.$this->request->data['Gallery']['image']);
                    echo '<br>';
                }
                echo $this->Form->input('image',array('type'=>'file','size'=>50,'label'=>false,'div'=>false)); ?></td>
            </tr>
            <tr>
                <th width="30%"><?php echo __('Group') ?><?php echo __('(*)') ?></th>
                <td width="70%"><?php echo $this->Form->input('gallery_group_id',array('label'=>false,'div'=>false)); ?></td>
            </tr>
            <tr>
                <th width="30%"><?php echo __('Caption') ?><?php echo __('(*)') ?></th>
                <td width="70%"><?php echo $this->Form->input('caption',array('size'=>50,'label'=>false,'div'=>false)); ?></td>
            </tr>
            <tr>
                <th width="30%"><?php echo __('Active') ?></th>
                <td width="70%"><?php echo $this->Form->input('active',array('size'=>50,'label'=>false,'div'=>false)); ?></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <button type="submit" class="btn_small_blue"><?php echo __('Save') ?></button>
                    <button type = "button" class="btn_small_blue" onclick="location.href='<?php echo $this->Html->url('/admin/galleries/index'); ?>';"><?php echo __("Back") ?></button>
                </td>
            </tr>
        </table>        
    <?php echo $this->Form->end(); ?>
    
    </div>
    <!--right end-->
    
    <div class="cl"></div>
    <div class="height10"></div>
</div>


